/* Custom CSS File for Buyers to Modify */


/* ======================================== */
/* Home =================================== */

#scroll-top:hover {
  background-color: #a2141d;
}

/* ======================================== */
/* espeço menu ============================== */
/*.header-wrapper{
}
.home .header-wrapper{
  margin-bottom: 0;
}*/
.single-property .detail{
  margin-top: 40px;
}



/* ================================ */
/* Banners home bottom ======================== */
.banner-home-bottom{
  margin-bottom: 60px;
}
.banner-dois{
  margin-bottom: 30px;
}


/* ======================================== */
/* PARCEIROS ============================== */
.brands-carousel ul.brands-carousel-list {
    margin: 0 auto;
 }
.brands-carousel ul.brands-carousel-list li{
  padding: 0 18px;
}


/* ======================================== */
/* FOOTER ================================= */

.footer-info{
  margin-top: 8px;
}
.footer-info span{
  line-height: 40px;
  font-size: 17px;
}
.footer-info i{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    position: relative;
    bottom: 7px;
}

.footer-info .icon-pin{
  background: url(../images/icone-mapa.png) no-repeat;
}
.footer-info .icon-tel{
  background: url(../images/icone-tel.png) no-repeat;
}
.footer-info .icon-arroba{
  background: url(../images/icone-arroba.png) no-repeat;
}

.footer-rede{
  margin-top: 30px;
}
.footer-rede div{
  color: #dc313c;
  font-weight: 900;
  width: 160px;
  /*float: right;*/
  /*margin-top: -13px;*/
  /*margin-right: 10px;*/
  margin: -13px auto 0;

}
.footer-rede i{
    width: 80px;
    height: 80px;
    display: block;
    top: 10px;
    margin-left: 38px;
    position: relative;

}
.footer-rede .icon-face{
  background: url(../images/logo-face.png) no-repeat;
}



/* Features --------------------*/
.arrow-bullet-list span {
  display: block;
    color: #636464;
    padding: 7px 2px 7px 0px;
}



