/* Payments Table
-------------------------------------------------------------- */
#payments-table {
  border: 1px solid #dedede;
  background: #fff;
  margin: 25px 0;
  border-collapse: collapse;
}
#payments-table th, #payments-table td {
  border: 1px solid #dedede;
  text-align: left;
}
#payments-table a {
  text-decoration: none;
}
#payments-table a:hover {
  text-decoration: underline;
}
#payments-table .pagination {
  padding: 0;
  margin: 0;
  text-align: center;
}
#payments-table .pagination li {
  display: inline;
}
#payments-table .pagination li.active a {
  font-weight: bold;
}
#payments-table .pagination a {
  display: inline-block;
  padding: 2px 3px;
  text-decoration: none;
}
#payments-table .pagination a:hover {
  text-decoration: underline;
}

/* Meta Box Fixes for RTL
-------------------------------------------------------------- */
.rwmb-field.rwmb-radio-wrapper .rwmb-input label {
  display: block;
  margin: 5px 0;
}

.rwmb-input .rwmb-button {
  float: none;
}

#additonal_details .rwmb-meta-box {
  overflow: hidden;
}
#additonal_details .rwmb-meta-box .rwmb-field.rwmb-text-wrapper {
  float: left;
  width: 29%;
}
#additonal_details .rwmb-meta-box .rwmb-field.rwmb-text-wrapper:last-child {
  width: 70%;
}
#additonal_details .rwmb-meta-box .rwmb-field.rwmb-text-wrapper .rwmb-label {
  display: block;
  margin-bottom: 10px;
}
#additonal_details .rwmb-meta-box .rwmb-field.rwmb-text-wrapper .rwmb-button.remove-clone {
  position: static;
  top: auto;
  right: auto;
  margin-left: 5px;
}
#additonal_details .rwmb-meta-box .rwmb-field.rwmb-text-wrapper .rwmb-input {
  width: 100%;
}
#additonal_details .rwmb-meta-box .rwmb-field.rwmb-text-wrapper input.rwmb-text {
  width: 75%;
}

/* Meta Box Styles Improvements - Since RealHomes Version 1.9
-------------------------------------------------------------- */
.rwmb-tabs-left .rwmb-tab-panel {
  padding: 20px 25px;
}

.rwmb-column .rwmb-label {
  margin-bottom: 5px;
}
.rwmb-column .rwmb-label label {
  font-weight: bold;
}

.rwmb-column .rwmb-input input[type="text"],
.rwmb-column .rwmb-input input[type="password"],
.rwmb-column .rwmb-input input[type="email"],
.rwmb-column .rwmb-input input[type="number"],
.rwmb-column .rwmb-input input[type="search"],
.rwmb-column .rwmb-input input[type="tel"],
.rwmb-column .rwmb-input input[type="time"],
.rwmb-column .rwmb-input input[type="url"],
.rwmb-column .rwmb-input select,
.rwmb-column .rwmb-input textarea {
  width: 90%;
}
.rwmb-column .rwmb-input #REAL_HOMES_property_address {
  width: 95%;
}
.rwmb-column .rwmb-input .rwmb-map-goto-address-button {
  margin-top: 10px;
}

.rwmb-tabs-left .rwmb-tab-nav li {
  border-bottom: 1px solid #eee;
}

.rwmb-tabs-left .rwmb-tab-nav a {
  padding: 10px 20px 13px 10px;
}

.rwmb-tabs-left .rwmb-tab-nav .rwmb-tab-banner {
  display: none;
}